<div class="container">
    <span
      class="clerk {{ section.settings.custom_class }}"
      data-template="@{{section.settings.content_name}}"
      {% if template.name == 'product' %}
      data-products="[{{ product.id }}]"
      {% elsif template.name == 'collection' %}
      data-category="{{ collection.id }}"
      {% elsif template.name == 'cart' %}
      data-products="[{% for line_item in cart.items %}{% if forloop.index0 > 0 %}, {% endif %}{{ line_item.product.id }}{% endfor %}]"
      {% elsif template.name == 'page' %}
      data-page="{{ page.id }}"
      {% endif %}
      {% if section.settings.exclude_from_clerk %}
      data-exclude-from="{{ section.settings.exclude_class }}"
      {% endif %}
    ></span>
  </div>

{% schema %}
{
  "name": "Clerk Recommendations",
  "class": "featured-clerk-products",
  "settings": [
    {
      "type": "text",
      "id": "content_name",
      "label": "Content name",
      "info": "The content ID of the slider taken from clerk e.g. home-page-popular"
    },
    {
      "type": "text",
      "id": "custom_class",
      "label": "Custom class",
      "info": "Add a class e.g. clerk1"
    },
    {
      "type": "checkbox",
      "id": "exclude_from_clerk",
      "label": "Data-exclude option",
      "default": false,
      "info": "Data-exclude option. Make sure the Data-exclude class section below is filled out. See more info https://help.clerk.io/platform-guides/custom/data-sync/removing-duplicate-products-on-pages-with-more-than-one-banner/"
    },
    {
      "type": "text",
      "id": "exclude_class",
      "label": "Data-exclude class",
      "info": "Class of clerk slider preceeding e.g. .clerk1, that will make this slider not have the same products. Fill this in only if 'Data-exclude option' is enabled."
    }
  ],
  "presets": [
    {
      "name": "Clerk Recommendations",
      "category": "Collection",
      "settings": {}
    }
  ]
}
{% endschema %}